@font-face {
    font-family: Hatton;
    src: url("fonts/Hatton-Medium.otf") format("opentype");
}

@font-face {
    font-family: Supply;
    src: url("fonts/Supply-Regular.otf") format("opentype");
}

@font-face {
    font-family: Cirka;
    src: url("fonts/Cirka-Light.otf") format("opentype");
}

@font-face {
    font-family: Haptik-Bold;
    src: url("fonts/GT-Haptik-Bold-Trial.otf") format("opentype");
}

#mobilenav{
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    overflow: visible;
    border-radius: 0px 0px 20px 0px;
    transition: .8s;
    display: none;
}

@media all and (max-width: 800px) {
    #mobilenav{
        display: block;
    }
}

#mobilebutton{
    width: 15vw;
    height: 15vw;
    position: fixed;
    left: 85vw;
    top 0px;
    padding: 0px;
    border: none;
    border-radius: 0px 0px 20px 0px;
    color: white;
    z-index: 50000;
    transition: .8s;
    background-color: transparent;
    display:none;
}

@media all and (max-width: 800px) {
    #mobilebutton{
        display: block;
    }
}

#mobilebutton img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0px 0px 0px 20px;
    /*    animation: 4s powerspin infinite;*/
    /*    filter: invert(1);*/
    filter:  saturate(0) contrast(1.1) invert(0);
    transition: .3s;
    cursor: pointer;
    margin: 0px;
}

@keyframes powerspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#mobbutton img:hover{
    filter: saturate(1) contrast(2) invert(1);
}

.mobcontainer{
    display: flex;
}

.mobkhj{
    width: 100%;
    background-color: transparent;
    padding: 0px;
    margin: 30px 0px 0px 0px;
    text-align: center;
}

#mobhomelink{
    color: black;
    font-family: "Syne";
    font-size: 30px;
    animation: 1.5s loadintext;
    transform-origin: bottom;
    transition: .05s;
}

#mobhomelink:hover{
    color: limegreen;
}

#koreanname{
    font-family: "gaegu";
    letter-spacing: 3px;
}

@keyframes loadintext {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mobkhj h2{
    font-family: "supply";
    font-size: 13px;
    line-height: 22px;
    padding: 0vw 10vw 5vw 10vw;
    margin: 0px;
    text-align: justify;
    text-justify: inter-word;
}

/*
.profileimage{
width: 20%;
padding-bottom: .75vw;
margin: 0px;

}

.profileimage img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 0px 0px 0px 50px;
filter: grayscale(100%) contrast(100%);
}
*/

.mobprojects{
    width: 100%;
    background-color: transparent;
    margin: 0px;
    text-align: center;
    overflow-y: visible;
}

a{
    text-decoration: none;
}

.mobbox{
    display: inline-block;
    width: 80vw;
    min-width: 200px;
    height: 30vh;
    border-radius: 30px;
    padding: 0px;
    margin: 5vw;
    transform-style: preserve-3d;
    text-align: center;
}

.mobbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid black;
    filter: grayscale(100%) contrast(150%);
    transition: .5s;  
}

.mobbox img:hover{
    filter: grayscale(0%);
}

.mobbox .mobpopuptext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(100px) scaleY(0);
    transform-origin: center;
    transition: .2s;
    border-radius: 1000px;
    pointer-events: none; 
}

.mobbox .mobpopuptext h3{
    font-family: "Syne";
    font-size: 25px;
    pointer-events: none; 
    text-shadow: 2px 2px #00690c;
    color: #41fc03;
}

.mobbox:hover .mobpopuptext{
    transform: translate(-50%, -50%) translateZ(50px) scaleY(1);
    z-index: 10;
}

.mobbox img:hover {
    box-shadow: 0px 0px 30px rgba(10,255,50,1.0);
    z-index: 10;
    cursor: pointer;
}

.mobilenav h2{
    font-family: "space mono";
    font-size: 15px;
    line-height: 22px;
    padding: 1vw 1vw 3vw 2vw;
    margin: 0px;

}