@media all and (max-width: 1000px) {
     nav{
        display: none;
    }
}

svg{
    position: fixed;
    top: 25px;
    left: 22px;
    z-index: 20000;
    width: 128px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #242424;
  color: white;
  width: 130px;    
  padding: 8px;
  font-size: 12px;
  border: none;
  border-radius: 100px 0px 0px 100px;    
  z-index: 1000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  display: inline-block;
  top: 100px;
  left: 20px;    
  z-index: 1000;
}

.dropdown a{
    color: white; 
}

.dropdown2 {
  position: fixed;
  display: inline-block;
  top: 140px;
  left: 20px;    
  z-index: 1000;
}

.dropdown2 a{
    color: white; 
}

.dropdown3 {
  position: fixed;
  display: inline-block;
  top: 180px;
  left: 20px;    
  z-index: 1000;   
}

.dropdown3 a{
    color: white; 
}

.dropdown4 {
  position: fixed;
  display: inline-block;
  top: 220px;
  left: 20px;    
  z-index: 1000;   
}

.dropdown4 a{
    color: white; 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;    
  margin-top: -30px;    
  left: 130px;
  background-color: #f57818;
  width: 250px;
  border-radius: 0px 15px 15px 0px;    
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3000;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: sans-serif;    
  font-size: 16px;    
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 3000;
}

nav:hover nav {background-color: aqua;}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color:blanchedalmond;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f57818;}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn {background-color: #f57818;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown3:hover .dropbtn {background-color: #f57818;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown4:hover .dropbtn {background-color: #f57818;}