@font-face {
    font-family: Hatton;
    src: url("fonts/Hatton-Medium.otf") format("opentype");
}

@font-face {
    font-family: Supply;
    src: url("fonts/Supply-Regular.otf") format("opentype");
}

@font-face {
    font-family: Cirka;
    src: url("fonts/Cirka-Light.otf") format("opentype");
}

@font-face {
    font-family: Haptik-Bold;
    src: url("fonts/GT-Haptik-Bold-Trial.otf") format("opentype");
}

#navmenu{
    width: 50vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    overflow: visible;
    border-radius: 0px 0px 20px 0px;
    transition: .8s;   
}


@media all and (max-width: 1000px) {
    #navmenu{
        display: none;
    }
}

#buttonmenu{
    width: 10vw;
    height: 10vw;
    position: fixed;
    left: 50vw;
    top 0px;
    padding: 0px;
    border: none;
    border-radius: 0px 200px 200px 0px;
    color: white;
    z-index: 50000;
    transition: .8s;
    background-color: transparent;
    
}

@media all and (max-width: 1000px) {
    #buttonmenu{
        display: none;
    }
}

#buttonmenu img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0px 200px 200px 0px;
/*    animation: 4s powerspin infinite;*/
/*    filter: invert(1);*/
    filter:  saturate(0) contrast(1.1) invert(0);
    transition: .3s;
    cursor: pointer;
    margin: 0px;
   
}


@keyframes powerspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#buttonmenu img:hover{
   filter: saturate(1) contrast(2) invert(1);
   border: 1px solid white;
   border-width: 1px 5px 10px 0px;
}

.container{
    display: flex;
}

.khj{
    width: 100%;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

#homelink{
    color: black;
    font-family: "Syne";
    font-size: 30px;
    margin: 1.8vw 2vw 0vw 2vw;
    padding: 0px;
    animation: 1.5s loadintext;
    transform-origin: bottom;
    transition: .05s;
}

#homelink:hover{
   color: limegreen;
}

#koreanname{
    font-family: "gaegu";
    letter-spacing: 3px;
}

@keyframes loadintext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.khj h2{
    font-family: "replica";
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
    padding: 1vw 2vw 1vw 2vw;
    margin: 0px;
}

/*
.profileimage{
    width: 20%;
    padding-bottom: .75vw;
    margin: 0px;
    
}

.profileimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 0px 50px;
    filter: grayscale(100%) contrast(100%);
}
*/

.projects{
    width: 100%;
    background-color: transparent;
    margin: 0px;
    text-align: center;
    overflow-y: visible;
}

a{
    text-decoration: none;
}

.box{
    display: inline-block;
    width: 22vw;
    min-width: 200px;
    height: 22vh;
    border-radius: 30px;
    padding: 0px;
    margin: 1vw;
    transform-style: preserve-3d;
    text-align: center;
}




.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid black;
    filter: grayscale(100%) contrast(150%);
    transition: .5s;
    
}

.box img:hover{
    filter: grayscale(0%);
}

.box .popuptext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(100px) scaleY(0);
    transform-origin: center;
    transition: .2s;
    border-radius: 1000px;
    pointer-events: none; 
}

.box .popuptext h3{
    font-family: "Syne";
    font-size: 2vw;
    pointer-events: none; 
    text-shadow: 2px 2px #00690c;
    color: #41fc03;
}

.box:hover .popuptext{
    transform: translate(-50%, -50%) translateZ(50px) scaleY(1);
    z-index: 10;
}

.box img:hover {
    box-shadow: 0px 0px 30px rgba(10,255,50,1.0);
    z-index: 10;
    cursor: pointer;
}

nav h2{
    font-family: "space mono";
    font-size: 15px;
    line-height: 22px;
    padding: 1vw 1vw 3vw 2vw;
    margin: 0px;

}

.navspacer{
    background-color: red;
    width: 100%;
}



