@media all and (max-width: 1000px) {
    nav{
        display: none;
    }
}

.logo{
    position: fixed;
    top: 10px;
    left: 20px;
    width: 400px;
    z-index: 20000;
}

@media all and (max-width: 1000px) {
    .logo{
        width: 300px;
    }
}

.logo h1{
    font-family: "syne";
    font-size: 20px;
    font-weight: 400;
    line-height: 3px;
    color: black;
    animation: .45s ease-out 0s 1 logoload;
}

@keyframes logoload {
  0% {
    transform: translateX(200px);,
    opacity: 0.0;
  }
  100% {
    transform: translateX(0px);,
    opacity: 1.0;
  }
 
}

.navmenu{
    position: fixed;
    top: 40px;
    left: 20px;
    width: 400px;
    z-index: 20000;
}

@media all and (max-width: 1000px) {
    .navmenu{
        width: 300px;
    }
}

hr{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.navmenu h2{
    font-family: "montserrat";
    font-size: 13.5px;
    font-weight: 400;
    word-spacing: 2px;
    letter-spacing: .25px;
    line-height: 22px;
    color: black;
    animation: .45s ease-out 0s 1 navload;
    transform-origin: top;
}

#gd{
    font-style: italic;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: black;
  width: 130px;    
  padding: 5.2px;
  font-family: "montserrat";
  font-size: 13.5px;
  font-weight: 400;
  border: none;    
  z-index: 1000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  
  display: inline-block;    
  z-index: 1000;
}

.dropdown a{
    color: white; 
}

.dropdown2 {
  display: inline-block; 
  z-index: 1000;
}

.dropdown2 a{
    color: white; 
}

.dropdown3 {
  display: inline-block;  
  z-index: 1000;   
}

.dropdown3 a{
    color: black; 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;  
  position: absolute; 
  background-color: #f2f2f2;
  border-radius: 0px 0px 15px 0px;    
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3000;
  animation: 0.2s ease-out 0s 1 navload;
  transform-origin: top;
}

@keyframes navload {
  0% {
     
    transform: scaleY(0);,
    opacity: 0.0;
  }
  100% {
    transform: scaleY(1);,
    opacity: 1.0;
  }
 
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: "montserrat";
  font-size: 13.5px;
  font-weight: 400;  
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 3000;
}

nav:hover nav {color: aqua;}

/* Change color of dropdown links on hover */
.logo h1:hover {color: #f57818;}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: white; background-color: #f57818; border-radius: 0px 0px 15px 0px;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: white; background-color: #f57818;}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn {color: white; background-color: #f57818;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown3:hover .dropbtn {color: white; background-color: #f57818;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown4:hover .dropbtn {color: white; background-color: #f57818;}

/* Dropdown Button */
.mobiledropbtn {
  position: fixed;
  right: 10px;
  top: 13px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  z-index: 30000;
  display: none;
}

.mobiledropbtn img{
    width: 40px;
    height: 40px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media all and (max-width: 1000px) {
    .mobiledropbtn{
        display: block;
    }
}

@media all and (max-width: 1000px) {
    .navmenu{
        width: 90vw;
    }
}

@media all and (max-width: 1000px) {
    .dropbtn{
        width: 28vw;
    }
}

/* Dropdown button on hover & focus */
.mobiledropbtn:hover, .mobiledropbtn:focus {
  background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.mobiledropdown {
  position: absolute;
}

/* Dropdown Content (Hidden by Default) */
.mobiledropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,0.95);
  width: 100vw;
  height: 100vh;
  z-index: 20000;
}



/* Change color of dropdown links on hover */
.mobiledropdown-content a:hover {background-color: orange;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}