

.navspacer{
    float: left;
    width: 16vw;
    height: 100vh;
    
    z-index: 1000;
}

@media all and (max-width: 1000px) {
    .navspacer{
        display: none;
    }
}

.projectarea{
    float:left;
    width: 70vw;
   
}

@media all and (max-width: 1000px) {
    .projectarea{
        width: 100vw;
        padding: 0px;
    }
}

.projectinfo{
    
}

.projecttitle{
}


.projecttitle h1{
    font-family: "syne";
    font-size: 4vw;
    line-height: 5.8vw;
    font-weight: 500;
    padding: 100px 0px 0px 0px;
    animation: 0.7s ease-out 0s 1 loadintext;
}

@keyframes loadintext {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
 
}

@media all and (max-width: 1000px) {
    .projecttitle h1{
        font-size: 35px;
        line-height: 58px;
        padding: 0px 0px 0px 25px;
    }
}

.projectdescript{
    width: 650px;
    padding: 0px 0px 40px 0px;
}


@media all and (max-width: 1000px) {
     .projectdescript{
        width: 90vw;
        padding: 0px 0px 20px 25px;
    }
}

.projectdescript h2{
    font-family: "montserrat";
    font-size: 13.5px;
    font-weight: 400;
    line-height: 25px;
    padding: 0px 0px 0px 0px;
}

.imagebox{
    float: left;
    max-height: 650px;
    width: 33vw;
    padding: .5vw;
}

.imagebox img{
    width: 100%;
}

@media all and (max-width: 1000px) {
    .imagebox{
        width: 100vw;
        max-height: 1200px;
    }
}