.projectcontainer{
    width: 70vw;
    margin: 0vw 15vw 0vw 15vw;
}

@media all and (max-width: 800px) {
    .projectcontainer{
        width: 100vw;
        margin: 0vw 0vw 0vw 0vw;
    }
}

.mainphoto{
    width: 70vw;
    height: 50vh;
}

@media all and (max-width: 800px) {
    .mainphoto{
        width: 100vw;
        height: 40vh;
    }
}

.mainphoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projecttitle{
    width: 100%;
    text-align: center;
}

.projecttitle h1{
    font-family: "Syne";
    font-size: 35px;
    line-height: 45px;
    padding: 20px 10vw 15px 10vw;
}

@media all and (max-width: 800px) {
    .projecttitle h1{
        font-family: "Syne";
        font-size: 30px;
        line-height: 38px;
        padding: 20px 10vw 15px 10vw;
    }
}

.descontainer{
    padding: 0px 0vw 0px 0vw;
}

@media all and (max-width: 800px) {
    .descontainer{
        padding: 0px 30px 30px 30px;
    }
}

.projectdescription{
    float: left;
    width: 75%;
    margin-bottom: 50px;
}

@media all and (max-width: 800px) {
    .projectdescription{
        width: 100%;
    }
}

.projectdescription h1{
    font-family: "Hatton";
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    
    padding-top: -10px;
    padding-bottom: 30px;
}

.projectdescription h2{
    font-family: "Replica";
    font-size: 15.5px;
    line-height: 25px;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 40px;
}

.projectdescription h3{
    font-family: "Replica";
    font-size: 15.5px;
    line-height: 25px;
    font-weight: 300;
    margin-top: 0px;
}

@media all and (max-width: 800px) {
    .projectdescription h2{
        text-indent: 0px;
    }
}

.centerdescription{
    float: left;
    width: 60%;
    margin: 0px 15vw 50px 15vw;
}

.centerdescription h2{
    font-family: "Replica";
    font-size: 15.5px;
    line-height: 25px;
    font-weight: 300;
    text-align: center;
}


.projectskills{
    float: left;
    width: 25%;

}

@media all and (max-width: 800px) {
    .projectskills{
       display: none;
    }
}

.projectskills h3{
    text-align: left;
    font-family: "space mono";
    font-size: 13px;
    font-weight: 100;
    line-height: 25px;
}



.photosmall{
    width: 49%;
    height: 25vw;
    float: left;
    margin-bottom: 50px;
    
}

@media all and (max-width: 800px) {
    .photosmall{
        width: 100%;
        height: 100%;
    }
}

.photosmall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photolarge{
    width: 30vw;
    float: left;
    margin: 0vw 20vw 50px 20vw;
}

@media all and (max-width: 800px) {
    .photolarge{
        width: 100%;
        height: 100%;
        margin: 0vw 0vw 50px 0vw;
    }
}

.photolarge img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photowide{
    width: 50vw;
    float: left;
    margin: 0vw 10vw 50px 10vw;
}

@media all and (max-width: 800px) {
    .photowide{
        width: 100%;
        height: 100%;
        margin: 0vw 0vw 50px 0vw;
    }
}

.photowide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left{
    padding-right: 1%;
}

.right{
    padding-left: 1%;
}

.homeback{
    position: fixed;
    right: 20px;
    bottom: 30px;
    text-align: right;
}

.homeback a{
   color: black;
   
}

.homeback h1{
    font-family: "Major Mono Display";
    font-size: 2.6vw;
    line-height: 20px;
    text-transform: lowercase;
    transition: .3s;
}

.homeback h1:hover{
   color: limegreen;
   text-transform: uppercase;
}



 

















