@font-face {
    font-family: Hatton;
    src: url("fonts/Hatton-Medium.otf") format("opentype");
}

@font-face {
    font-family: Supply;
    src: url("fonts/Supply-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: Cirka;
    src: url("fonts/Cirka-Light.otf") format("opentype");
}

@font-face {
    font-family: Haptik-Bold;
    src: url("fonts/GT-Haptik-Bold-Trial.otf") format("opentype");
}

svg{
    position: fixed;
    top: 25px;
    left: 22px;
    z-index: 20000;
    width: 128px;
    stroke-dasharray: 500;
    animation: dash 5s infinite linear;
    animation-delay: 6s;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
    to{
        stroke-dashoffset: 0;
    }
}


body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

body {
    margin: 0;
    overflow-x: hidden;
}

main {
    background-color: floralwhite;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

a:link{
  text-decoration: none!important;
}

.scene,
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    z-index: 10;
}

.scrollbar {   
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 102%;
    background-color: lightpink;
}

/* The progress container (grey background) */
.progress-container {  
    width: 100%;
    height: 7px;
    background: lightpink;
  
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 1vh;
    background: darkgreen;
    width: 0%;
}

.title{
    float: right;
}



